div
  form(action='/' method='POST')
    label(for='name') Nombre
    br
    input#name(type='text' name='name')
    br
    label(for='mail') Email
    br
    input#mail(type='text' name='mail')
    br
    label(for='password') Contrase&ntilde;a
    br
    input#password(type='password' name='password')
    br
    input(type='submit' value='Registrarse')