div
  form(action='/register' method='POST')
    label(for='name') Nombre
    br
    input#name(type='text' name='name')
    br
    label(for='email') Email
    br
    input#email(type='text' name='email')
    br
    label(for='password') Contrase&ntilde;a
    br
    input#password(type='password' name='password')
    br
    input(type='submit' value='Registrarse')